/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}


/* COMMON */
.container {
    width: 55%;
    margin: 0 auto;
    /* debug */
    /* background-color: green; */
}

.container-hero-foot {
    width: 60%;
    margin: 0 auto;
    padding: 40px 20px;
    /* debug */
    /* background-color: green; */
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-below {
    margin-bottom: 100px;
}

.blu-button {
    background-color: #0161ff;
    color: white;
    padding: 5px 10px;
}

.white-button {
    background-color: #ffffff;
    color: rgb(78, 78, 78);
    padding: 5px 10px;
    border: 1px solid black;
}

.blu-button:hover {
    filter: brightness(1.4);
}

.white-button:hover {
    filter: brightness(1.4);
}

.space {
    margin: 0 5px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* HEADER */
header {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    background-color: white;
}

nav{
    width: 95%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
}

.flex-nav {
    justify-content: space-between;
}

.logo {
    display: inline-block;
    position: relative;
    top: 5px;
}

.flex-ul {
    gap: 1rem;
}

nav a {
    color: lightslategray;
}

.links:hover {
    border-bottom: 2px solid rgb(82, 82, 82);
}


/* HERO*/
.hero {
    padding-top: 50px;
    background-color: #b4d0e7;
}

.hero h1 {
    font-size: 4rem;
    margin: 40px 0;
}

.hero-txt{
    width: 40%;
}

.hero p {
    margin: 30px 0;
}

.hero-txt i {
    font-size: 3rem;
}

.hero-img {
    width: 60%;

}

.hero-img img {
    position: relative;
    transform: scale(1.3);
    right: -90px;
    top: 70px;
}

.black-arrow {
    color: #000000;
}


/* MAIN */
.plans h2{
    font-size: 2.5rem;
}

/* checkbox */
.chose {
    margin: 2.5rem 0;
}

.chose > span {
    display: inline-block;
    width: 1rem;
}

.flex-plan {
    gap: 40px;
    justify-content: space-between;
}

.col {
    width: calc( 100% / 3 - 40px );
}

/* cards content */
.card-top {
    border: 1px solid lightslategray;
    text-align: center;
    padding: .7rem;
}

.card {
    position: relative;
    padding: 1.5rem;
    border-right: 1px solid lightslategray;
    border-left: 1px solid lightslategray;
    min-height: 30rem;
}

.flex-p {
    display: flex;
}

.buy-now {
    text-decoration: underline;
}

.button-card {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.card h4,
.horizontal-card h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

.card > h4,
.card-bottom > h4,
.card-bottom > h5,
.horizontal-card  h4,
.horizontal-card  h5 {
    padding-bottom: 1rem;
}

.card > p,
.card-bottom > p{
    padding-bottom: 2rem;

}

.card::after {
    content: "";
    background:lightslategray;
    position: absolute;
    bottom: -1px;
    left: 1rem;
    height: 1px;
    width: 3rem;
}

.card-bottom {
    padding: 2rem 1rem;
    border-bottom: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
    border-left: 1px solid lightslategray;
    min-height: 30rem;
}

.horizontal-col {
    width: 100%;
    margin-top: 40px;
}

.horizontal-card {
    padding: 20px;
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
    border-left: 1px solid lightslategray;
}

.hori-flex {
    justify-content: space-between;
    align-items: flex-start;
}

.hori {
    width: 100%;
}

.little-text {
    width: 60%;
    padding: 10px;
}


/* sec: find a partner */
.partner-img {
    width: 60%;
}

.partner-text {
    width: 40%;
    padding-left: 50px;
}

.partner-text h4 {
    font-size: 2rem;
    margin-top: 50px;
}

.partner-text p {
    margin: 30px 0;
}


/* sec: more options */
.options {
    font-size: 2.5rem;
}
.flex-options {
    gap: 40px;
    justify-content: space-between;
}

.option-txt h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* sec: 500000 */
.find-more h2 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.find-more a {
    text-decoration: underline;
    color: blue;
}


/* sec: cubes */
.square-section {
    width: 100%;
}

.squares {
    width: calc(100% / 3);
}

.left-square-content img,
.right-square-content img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(38deg) brightness(104%) contrast(102%);
}

.design {
    border: 10px solid #d2e9cd;
    background-color: #a2d39b;
}

.arizona {
    background-color: #62092b;
}

.florida {
    background-color: #0093ce;
}

.topps {
    background-color: #ff1b1c;
}

.world {
    background-color: #d50020;
}

.heart {
    background-color: #b4d0e7; 
}

.planet {
    background-color: #0d2481;
}

.clear {
    background-color: #ffd830;
}

.left-square-content div {
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    padding: 30px;
}

.center-square-content {
    background-color: #f5f5f5;
    padding: 20px 50px;
    aspect-ratio: 1 / 1;
    overflow-y: auto;
}

.center-square-content hr {
    width: 50%;
    margin-bottom: 20px;
}

.center-square-content div {
    position: relative;
    width: 100%;
    min-height: 100px;
}

.center-square-content img {
    scale: 0.5;
    position: absolute;
    left: -25%;
}

.right-square-content div {
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    padding: 30px;
}

.center {
    align-items: center;
}


/* sec: cta */
.flex-cta {
    align-items: center;
    justify-content: space-around;
}

.cta {
    width: 100%;
    background-color: #b4d0e7;
    padding: 50px;

}

.cta h2 {
    /* padding-left: 100px; */
    width: 30%;
    font-size: 2.5rem;
    color: brown;
}


/* sec: questions */
.question {
    width: 100%;
    padding: 60px 30px;
}

.question h4{
    display: inline-block;
}

.a1 {
    display: none;
    padding: 30px;
}

.q1:hover + .a1 {
    display: inline-block;
    background-color: rgb(226, 226, 226);
}

.a1:hover {
    display: inline-block;
    background-color: rgb(226, 226, 226);
}


/* FOOTER */
footer {
    background-color: black;
    padding: 30px 0;
    color: white;
}

.foot {
    position: relative;
    min-height: 23rem;
}

.col-foot {
    width: calc(100% / 5);
}

footer h4 {
    font-size: 1.8rem;
    padding-bottom: 20px;
}

footer a {
    color: white;
}

footer li {
    padding: 10px 0;
}

.foot::after {
    content: "";
    background:rgb(255, 255, 255);
    position: absolute;
    bottom: -1px;
    left: 1rem;
    height: 2px;
    width: 10rem;
}